/*
    Basic style at the very beginning
*/
*{margin: 0; padding: 0;}

body{
    font-family: sans-serif, Arial, !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    line-height: 150%;
    margin-bottom: 2em;
}

.fix{
    overflow: hidden;
}
/*
    Define container
*/
.container_full{
    width: 100%;
}


.container{
    width: 980px;
    display: block;
    margin: 0 auto;
}

/* 
    Background of header portion
*/

.header_bg{
    background-color: #ffffff;
}

/*
    For logo 
*/
#header .logo_left{
    float: left;
}
#header .logo_left img {
    width: 116px;
    height: 90px;
}

/* 
    Design for navigation bar
*/

#header nav{
    float: right;
}

#header>nav #menu{
    list-style-type: none;
}

#header>nav #menu li{
    float: left;
}

#header>nav #menu li a{
    display: block;
    color: black;
    font-family: lato;
    font-size: 12px;
    padding: 15px 8px;
}
/*
#header>nav #menu li:last-child{
    padding-right: none;
    width: 55px;
    height: 30px;
    background-color: #FFB255;
    border-radius: 3px;
}
*/


#header>nav #menu li a:hover{
    color:  #FFB255;
}
#header>nav #menu li.active a{
    color:  #FFB255;
}
/* 
    Design for sign in 
*/

#header>nav #menu li #sign_in a {
    width: 38px;
    height: 3px;
    background-color: #FFB255;
    border-radius: 3px;
    color: #ffffff;
}


/* 
    for first content head bar
*/

.head_bar p{
    color: #FFB255;
}

/* 
    for first yellow bar
*/
.bar .yellow{
    width: 20px;
    height: 4px;
    background-color:  #FFB255;
    border-radius: 1px;
}

/* 
    for first blue bar
*/
.bar .blue{
    width: 30px;
    height: 4px;
    background-color: rgb(64, 192, 224);
    border-radius: 1px;
}

/* 
    Drawing the circle
*/
#circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 2%;
    border-color:  #FFB255;
    background-color:   #e78a17;
    opacity: 0.5;
    transition: all 0.3s ease;
}

#circle:hover{
    opacity: 1;
}

/* 
    view all services botton
*/
.view_services {
    width: 123px;
    height: 28px;
    padding-top: 2px;
    background-color: #FFB255;
    border-radius: 2px;
}
.view_services a{ 
    color: #ffffff;
}

/* 
    First content image 
*/

.first_content_rs_img img {
    width: 461px;
    height: 400px;
}

/*
    Footer background
*/
.footer_bg{
    background-color: #0C131A;
}


#footer_bottom p{
    width: 320px;
    color: #BC833E;
    float: left;
}

/* 
    Footer yellow bar
*/

.f_bar_y{
    float: left;
    width: 15px;
    height: 5px;
    background-color: #FFB255;
    border-radius: 1px;
}

/*
    Footer blue bar
*/
.f_bar_b{
    float: left;
    padding-right: 2px;
    margin-right: 2px;
    width: 20px;
    height: 5px;
    background-color: rgb(64, 192, 224);
    border-radius: 1px;
}

/*
    Bar wrapper will float those bar in left
*/


.bar_wrap{
    float: left;
    padding: 2px;
    margin: 2px 5px;
}

.footer_col h3{
    color: #ffffff;
}

.footer_col h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 80;
    color: #e78a17;
}



/*
    Footer  paragraph and read more
*/

.footer_p p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.footer_p a{
    font-size: 12px;
    color: #e78a17;
    font-family: cursive;
}
/* 
    Responsible for making 4 column in row
*/

.footer_col{
    width: 240px;
    float: left;
    margin-right: 5px ;
    display: block;
}

.footer_col li a{
    font-size: 10px;
    color: #ffffff;
}

.footer_col p{
    font-size: 10px;
    color: #ffffff;
}

/* 
    Footer bottom
*/
#footer_bottom{
    padding: 20px 4px;
    border-top: 1px solid #ffffff;
}
#footer_bottom p{
    margin-top: 5px;

}
