*{
    margin: 0;
    padding: 14px;
}

body{

    background-color: #ffffff;
}

#wrapper{
    width: 960px;
    margin: 20px auto;
}

#header { 
     background-color: #ffffff;
     color: black;
     float: left;
}

#navbar{
    background-color: #ffffff;
    color: #FFB863;
    border-bottom: 1px solid #ffffff;
}

#navbar ul{
    list-style-type: none;
    z-index: 999;
    padding: 0;
}

#navbar ul li{
    float: left;
    border-right: 1px solid #ffffff;
    margin: 1px;
}

#navbar ul li:first-child{
    padding-left: 30px ;
}

#navbar ul li:last-child{
    border: none;
}

#navbar ul li a{
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}
#signup a{
    background-color: #fcb865;
    text-align: center;
    color: #ffffff;
}

#navbar ul li{
    margin-left: 3px;
    position: relative;
}
/*
#navbar ul li:first-child{
    padding: 0;
}
*/

#navbar ul li ul{
    position: absolute;
    left: -9999px;
    background-color: #ffffff;
}
#navbar ul li ul li{
    margin-bottom: 1px ;
}

#navbar ul li ul li a{
    width: 180px;
    background-color: #ffffff;
    color: black;
    text-align: left;
}

#navbar ul li:hover ul{
    left: 0;
}

#navbar ul li ul li:first-child{
    padding: 0;
}
